{
  "root": true,
  "env": {
    "browser": false,
    "node": true,
    "jquery": false
  },
  "extends": ["airbnb"],
  "plugins": ["prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "experimentalObjectRestSpread": true,
      "impliedStrict": true,
      "classes": true
    }
  },
  "rules": {
    "class-methods-use-this": 0,
    "react/prop-types": 0,
    "quotes": ["warn", "single"],
    "semi": ["warn", "never"],
    "max-len": [
      "error",
      {
        "code": 200,
        "ignoreUrls": true
      }
    ]
  }
}
